<h3 class="text-center">Contas a Pagar</h3>
<a routerLink="/account/add" class="btn btn-md btn-success"><i class="fa fa-plus"></i> ADICIONAR</a>
<br>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Descrição</th>
            <th class="text-center">Data</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Remover</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts" routerLink="/account/edit/{{ account.id }}" >
            <td class="text-center">{{ account.description }}</td>
            <td class="text-center">{{ account.date }}</td>
            <td class="text-center">R$ {{ account.value | currency:'BRL':false }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <!--<a routerLink="/account/edit/{{ account.id }}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>-->
                    <button class="btn btn-danger btn-sm" (click)="remove(account)"><i class="fa fa-remove"></i></button>                    
                </div>
            </td>
        </tr>
    </tbody>
</table>