<h3 class="text-center">Contas a Pagar</h3>
<a routerLink="/account/add" class="btn btn-md btn-success"><i class="fa fa-plus"></i> ADICIONAR</a>
<br>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Descrição</th>
            <th class="text-center">Data</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Operação</th>
            <th class="text-center">Remover</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts"  >
            <td class="text-center" routerLink="/account/edit/{{ account.id }}">{{ account.description }}</td>
            <td class="text-center" routerLink="/account/edit/{{ account.id }}">{{ account.date | date:'dd-MM-yyyy' }}</td>
            <td class="text-center" routerLink="/account/edit/{{ account.id }}">{{ account.value | currency:'BRL':true }}</td>
            <td class="text-center" routerLink="/account/edit/{{ account.id }}">{{ account.value < 0 ? "Pagar" : "Receber" }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <button class="btn btn-danger btn-sm" (click)="remove(account)"><i class="fa fa-remove"></i></button>                    
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot class="text-success">
            <th class="text-center">Total</th>
            <th class="text-center"></th>
            <th class="text-center">R$ {{total | currency:'BRL':false}}</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
    <tfoot>
</table>